# Ignore environment files
.env

# Ignore build and Python cache files
\__pycache__
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
env/
.venv/

# Ignore logs and debug files
*.log
*.tmp

# Ignore linting and other configuration files
.hintrc

